@charset "utf-8";

.box1 {
    width: 100%;
    float: left;
    height: 300px;
    background-color: brown;
}

.box2 {
    width: 100%;
    float: left;
    height: 300px;
    background-color: lightcoral;
}

.box3 {
    width: 100%;
    float: left;
    height: 300px;
    background-color: darkorange;
}

.box4 {
    width: 100%;
    float: left;
    height: 370px;
    background-color: darkkhaki;

}

.box5 {
    width: 100%;
    float: left;
    height: 300px;
    background-color: darkseagreen;

}

.box6 {
    width: 100%;
    float: left;
    height: 370px;
    background-color: darkviolet;

}
